:root {
    --maincolor: #ff9900;
}
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }

  .search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  #search-bar {
    margin-right: 4px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  #search-btn {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--maincolor);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  #search-btn:hover {
    background-color:   var(--maincolor);
  }

  table {
    width: 100%;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  th,
  td {
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: var(--maincolor);
    color: #fff;
    text-transform: uppercase;
  }

  td img {
    max-width: 100px;
    max-height: 100px;
  }